* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

header {
  display: none;
}

.navbar {
  background-color: #fff;
}

.container-nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.header-title {
  /* width: 36.4375rem; */

  text-align: left;
  font-size: 23px;
  color: #ec4327;
  margin-left: 10px;
  flex-shrink: 0;

  /* font-weight: 500px; */
}

.header-title br {
  display: none;
}

.header {
  display: flex;
  padding: 3.8125rem 0 4.4375rem 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(images/header-modile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-1 {
  text-align: left;
  padding: 2rem;
}

.para-4 {
  color: #ec4327;
  font-size: 20px;
}

.para-1 {
  border: solid white 4px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
  color: #515151;

  /* flex-shrink: 0; */
}

strong {
  font-size: 1.75rem;
  font-weight: 900;
}

.logo img {
  margin-right: 6.5rem;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.hole-program {
  display: none;
}

.none {
  text-align: center;
}

footer {
  display: none;
}

.bar {
  display: block;
  flex: 1;
  width: 25px;
  height: 2.5px;
  margin: 5px 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(59, 62, 69, 1);
}

.hamb {
  display: block;
  cursor: pointer;
}

.hamb.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: rgba(59, 62, 69, 1);
}

.hamb.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: rgba(59, 62, 69, 1);
}

.nav {
  position: fixed;
  left: -100%;
  top: 0;
  flex-direction: column;
  background: rgba(255, 84, 56, 1);
  text-align: center;
  height: 100vh;
  transition: 0.4s;
  width: 50%;
  opacity: 0.93;
}

.nav.active {
  left: 0;
}

.nav-item {
  margin: 16px 0;
  margin-left: 15px;
}

.nav-link {
  margin: 16px;
}

/* -----------------Program-section--------------- */

.program {
  padding: 0.6875rem 0.75rem;
  background: rgba(40, 43, 50, 1);
}

.title {
  padding: 10px;
  color: #fff;

  /* font-family: Lato; */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.05rem;
  text-align: center;
}

h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ff5438;

  /* font-family: Lato; */
  font-size: 0.89194rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56094rem;
  letter-spacing: -0.00894rem;
}

.program-list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border: solid rgba(40, 43, 50, 1);
  background: rgba(59, 62, 69, 1);
  height: 5rem;
}

.program-list img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.72469rem;
  margin-left: 1rem;
}

.program-title {
  display: flex;

  /* width: 4.0695rem; */
  height: 1.50519rem;
  flex-direction: column;
  justify-content: center;
}

.Program-description {
  display: flex;
  text-align: left;
  width: 11.98556rem;
  height: 5.12869rem;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 0.66894rem;
  font-weight: 700;
  line-height: 1.19369rem;
  letter-spacing: 0.04013rem;
}

h2 {
  font-size: 1.2rem;
  padding: 1.25rem 3.125rem;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: rgba(255, 255, 255, 1);
  background: #ff4f38;
}

/* --------------------------Speakers-section----------------- */
h5 {
  text-align: center;
  color: #000;

  /* font-family: 'Lato'; */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.0625rem;
  padding: 40px;
}

.speakers {
  display: flex;
}

.speakers img {
  /* width: 6.6875rem; */
  height: 6.64994rem;
}

h4 {
  color: #000;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01875rem;
}

h6 {
  margin-top: 10px;
  color: #f78c89;

  /* font-family: 'Lato'; */
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.93394rem;
  letter-spacing: -0.0125rem;
}

.para {
  display: flex;

  /* width: 14.3125rem; */
  height: 0.625rem;
  flex-direction: column;
  justify-content: center;
  color: #000;

  /* font-family: 'Lato'; */
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.875rem;
  letter-spacing: -0.03375rem;
  margin-top: 1rem;
}

.text-align {
  display: flex;
  padding-top: 0.674px;
  flex-direction: column;
  align-items: flex-start;
  height: 10.5rem;
  margin-left: 1rem;
  margin-top: 0.75rem;
}

.partners {
  display: none;
}

/* -----------------Document Object----------------------- */

.speaker-card {
  width: 100%;
  margin: 0.5em;
  display: flex;
  gap: 0.5em;
}

.image-speaker {
  width: 40%;
}

.speaker-card-text {
  width: 60%;
  padding: 0.3em;
}

.speaker-card-text h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

.speaker-card-text h4 {
  position: relative;
  font-size: 1.125rem;
  margin-block: 0.2em 0.938em;
  color: #030303;
  font-style: italic;
  line-height: 30px;
}

.speaker-card-text h4::after {
  content: '';
  background-color: #d3d3d3;
  position: absolute;
  display: block;
  width: 10%;
  height: 2px;
}

.btn-expand {
  width: 90%;
  margin-block: 1em 3em;
  margin-inline: 1em;
  padding-block: 1em;
  background-color: #fff;
  border: 1px solid #d3d3d3;
}

#up {
  width: 3.5%;
}

#hide {
  display: none;
}

.partner {
  display: none;
}

.hide-card {
  display: none;
}

@media (min-width: 768px) {
  .social-header {
    display: flex;
    list-style: none;
    gap: 2em;
    color: #fff;
    align-items: center;
    position: relative;
  }

  .align {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    align-items: center;
  }

  header {
    display: block;
    background: #3e3e3e;
  }

  .logo img {
    margin-left: 3rem;
    margin-right: 0;
  }

  .navbar {
    display: flex;
    padding: 0.5rem 5.375rem 1rem 6.0625rem;
    gap: 14rem;
    align-items: center;
    height: 4.6875rem;
  }

  .hamb {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
    position: relative;
    left: 0;
    gap: 2rem;
    height: 0;
    align-items: center;
  }

  #about {
    color: #ec4327;
  }

  .nav-link {
    color: #000;
  }

  #campaign {
    color: #ec4327;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: 5px solid #ec4327;
    display: flex;
    width: 7.6875rem;
    height: 3rem;

    /* padding: 0rem 1.0625rem 0rem 1.125rem; */
    justify-content: center;
    align-items: center;
  }

  .header-1 {
    text-align: center;
    padding: 1rem;
  }

  .para-4 {
    color: #ec4327;
    font-size: 20px;
    text-align: left;
    padding: 1rem;
  }

  .header-title {
    font-size: 35px;
    height: 5.95038rem;
    height: 11rem;
    text-align: left;
    margin-left: 2rem;
  }

  .header-title br {
    display: block;
  }

  .header article {
    width: auto;
  }

  .header {
    /* width: 100%; */
    padding-block: 3.125em 1.25em;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .para-1 {
    width: 43.54575rem;
    flex-shrink: 0;
    font-size: 1.59313rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25694rem;
    letter-spacing: -0.01594rem;
  }

  .program {
    padding: 5rem;
  }

  .program-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    height: 250px;
    background-color: rgba(59, 62, 69, 1);
    width: 33.3%;
    cursor: pointer;
  }

  .program article {
    display: flex;
    gap: 0.5em;
    width: 90%;
    margin: 0.5em auto;
    justify-content: center;
    align-items: center;
  }

  .Program-description {
    text-align: center;
  }

  .none {
    display: none;
  }

  .hole-program {
    color: #fff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: -0.0125rem;
    text-decoration-line: underline;
    text-align: center;
    padding: 2rem;
    display: grid;
  }

  .speakers {
    margin: 1px;
    height: 250px;
    width: 90%;
  }

  .feature-speaker article {
    /* display: flex;
    gap: 0.5em;
    width: 90%;
    margin: 0.5em auto;
    justify-content: center;
    align-items: center; */
    display: flex;
    width: 80%;
    margin: 2.5em auto;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
  }

  .partners {
    display: block;
    background: #414246;
  }

  .line-1 {
    display: flex;
    justify-content: space-around;
    padding: 2.1875rem 7.5rem;
  }

  .partners h3 {
    color: #8f8f91;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
  }

  .copyrigth {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
  }

  .copyrigth p {
    align-items: center;
    margin-top: 8px;
  }

  footer {
    display: block;
  }

  /* --------js section--------------- */
  .partner {
    display: grid;
  }

  #more {
    display: none;
  }

  #hide {
    display: none;
  }

  .speaker {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 1rem;
    margin: auto;
  }

  .hide-card {
    display: flex;
  }

  .hero {
    padding: 30px;
    flex-basis: 49%;
  }

  .speaker-card {
    width: 100%;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
  }

  .speaker-card.hide-card {
    display: flex;
  }
}
